{% extends 'base.html.twig' %}

{% block title %}
Blog | Détails article
{% endblock %}

{% block body %}

    {# {{ dump(ArticleBDD) }} #}

{# <h1 class="display-4 fst-italic text-center my-4"> Détails de l'artcile</h1> #}

<div class="col-md-12 ">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
        <div class="col-md-7  p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>

          <h3 class="mb-0">{{ ArticleBDD.titre }}</h3>

          <div class="mb-1 text-muted">{{ ArticleBDD.date|date('d/m/Y')}} à {{ ArticleBDD.date|date("H/i/s") }} </div>

          <p class="card-text">{{ ArticleBDD.contenu|raw }}</p>

          <a href="{{ path('blog')}}" class="stretched-link">Retour aux articles</a>
          <a href="{{ path('blog_edit', {'id' : ArticleBDD.id } )}}" class="stretched-link">Modification</a>

        </div>
        <div class="col-md-5 d-none d-lg-block">
         <img src="{{ ArticleBDD.image }}" alt="{{ ArticleBDD.image }}" clas="col-md-12">

        </div>
      </div>
    </div>

{% endblock %}
